<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetarMate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MetarMateWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD5153EA2F523C8000ADDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5153F72F523C8200ADDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5154012F523C8200ADDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD069312F57583C00A16FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
